.sidebar {
    display: flex;
    height: 60px;
    flex-direction: row;
    border-right: 1px solid #e9ecef;
}

.sidebar .sidebar-title {
    margin: 1em 1em 1em 1em;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notlink, .notlink:visited, .notlink:hover, .notlink:active {
    color: inherit;
    font: inherit;
    text-decoration: none;
}

.sidebar .spacer {
    flex-grow: 1;
}

.sidebar .sidebar-title-text {
    display: none;
}

.sidebar .element {
    font-size: 0.9rem;
    margin-top: 2em;
}

.sidebar .element {
    align-self: center;
    margin-top: 2em;
}

.sidebar .element-text {
    display: none;
}


@media (min-width: 768px) {
    .sidebar .element-text {
        display: inline;
    }

    .sidebar .sidebar-title-text {
        font-size: 1.5rem;
        font-weight: 300;
        display: inline;
    }

    .sidebar .element i {
        padding-right: 0.75em;
    }

    .sidebar .element {
        font-size: 0.9rem;
        margin-left: 1.5em;
        align-self: auto;
    }

    .sidebar {
    }

    .sidebar .sidebar-logo {
        margin-right: 0.25em;
    }
}

h1 {
    font-weight: 300;
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

h5 {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.content-container {
    padding: 2em;
    font-weight: 300;
}


.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.rowlink {
    fill: none;
    stroke: #aaa;
    stroke-width: 4px;
}

.active {
    background-color: #a00 !important;
}

